.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    
    align-items: center;
    
}

.navigation {
    min-width: 80%;
    padding: 4px;
    background-color: white;
    color: black;
    position: relative;
}

.shopping-bag {
    width:50px;
}

